@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.featuredWrapper{
    width: 721px;
    height: 347px;
    background-color: #C8E1FF;
    display: flex;
    flex-direction: row;

}
/* Everything for left part*/
.featuredLeftPart{
    width: 377px;

}

.featuredLabel{
    font-family: "Roboto"; font-weight: 500;
    color: #FFFFFF;
    background-color: #88B8F1;
    text-align: center;
    width: 5em;
}
.nofeeLabel{
    font-family: "Roboto"; font-weight: 500;
    color: #88B8F1;
    background-color: #FFFFFF;
    text-align: center;
    width: 4em ;
    margin: 0 0.5em;
}

.featuredImages{
    z-index: 0;
    position: relative;
    width: 350px;
    height: 261px;
    margin: 2px 17px 43px 10px;
}
.featuredSlider{
    height: inherit;
}
.sliderPhotos{
    height: 100%;
    z-index: 0;
    top:0;
}
.featuredPhoto{
    height: 261px;
}
.featuredPhotoImage{
    height: 100%;
}
.camera{
    position: relative;
    left:10px;
    color: #0074FF;
    padding: 8px 0;
    margin-top:8px;
}
.camera span{
    font-family: "Roboto"; font-weight: 400;
    font-size: 18px;
}

.labels{
    z-index: 100;
    position: absolute;
    top:0;
    margin: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-indicators li{
   position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5) ;
}

/*everything for the right part*/
.featuredRightPart{
    height: 261px;
    width: 333px;
    margin-top:43px;

}
.featuredTextblock{
    width: 333px;

}
.header{
    font-family: "Roboto"; font-weight: 500;
    text-decoration: underline;
    color: #0074FF;
    font-size: 21px;



}
.headerBlock{
    margin-top: -7px;
}
.header:hover {
    color: #02066B !important;
}
.address{
    font-family: "Roboto"; font-weight: 300;
    color: black;
    font-size: 15px;
}
.postInfo{
    font-family: "Roboto"; font-weight: 300;
    color: #A5A5A5;
    font-size: 15px;
}
.priceInfo{
    font-family: "Roboto"; font-weight: 500;
    color: black;
    font-size: 21px;
    display: inline;
}
.ner{
    font-family: "Roboto"; font-weight: 300 !important;
    font-size: 15px;
    color: black;
}
/*
.facilitiesList{

    font-family: "Roboto"; font-weight: 300;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width:120px;
}*/

.facilities{
    font-family: "Roboto"; font-weight: 300;
    font-size: 15px;

}
.mobilePhone{
    color: #0074FF;
    font-family: "Roboto"; font-weight: 400;
    font-size: 18px;
}
.phoneIcon{
    color: #0074FF;
}
.phoneBlock{
    bottom: 0;
    position: relative;
}
.featuredTextblock{
    margin: 0 0 11px 0;
    width: 333px;
}
.nonmobile { display: inline; }
.mobile { display: none; }
/*regular ad part*/
.regularWrapper{
    width: 721px;
    height: 347px;
     display: flex;
    flex-direction: row;
}
.textContainer{
    height: 208px;
    width: 333px;
    margin-top:68px;
    margin-bottom:68px;
}
.priceBlock{
    display: inline-block;

}/*
.List{
    padding-left: 0;
    width:200px;
}
.List li{
    display: inline-block;
    margin: 0 ;
    font-family: "Roboto"; font-weight: 300;
    color: black;
    font-size: 15px;
}
.List li::after{
    content: " • ";
}*/

.facilitiesList {
    overflow: hidden;
    width: 210px;
    margin:0px 0 11px 0;
    bottom:0px;
    position: relative;
}
.facilitiesList  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -4px;
    width: 100%;
}
.facilitiesList  ul li {
    display: inline;
    white-space: nowrap;
}
.facilitiesList  ul li:before {

    content: " \2022 ";
}
.textBlock{
    margin: 11px 0;
}
.price{
    font-family: "Roboto"; font-weight: 500;
    color: black;
    font-size: 21px;
}
.regFacList{
    margin-top:11px;
}