@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.featuredWrapper{
    width: 721px;
    height: 347px;
    background-color: #C8E1FF;
    display: flex;
    flex-direction: row;

}
/* Everything for left part*/
.featuredLeftPart{
    width: 377px;


}

.featuredLabel{
    font-family: "Roboto Medium";
    color: #FFFFFF;
    background-color: #88B8F1;
    text-align: center;
    width: 5em;
}
.nofeeLabel{
    font-family: "Roboto Medium";
    color: #88B8F1;
    background-color: #FFFFFF;
    text-align: center;
    width: 4em ;
    margin: 0 0.5em;
}

.featuredImages{
    z-index: 0;
    position: relative;
    width: 350px;
    height: 261px;
    margin: 2px 17px 43px 10px;
}
.featuredSlider{
    height: inherit;
}
.sliderPhotos{
    height: 100%;
    z-index: 0;
    top:0;
}
.featuredPhoto{
    height: 261px;
}
.featuredPhotoImage{
    height: 100%;
}
.camera{
    position: relative;
    left:10px;
    color: #0074FF;
    padding: 8px 0;
    margin-top:8px;
}
.camera span{
    font-family: "Roboto Regular";
    /*font-size: 18pt;*/
}

.labels{
    z-index: 100;
    position: absolute;
    top:0;
    margin: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-indicators li{
   position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5) ;
}

/*everything for the right part*/
.featuredRightPart{
    height: 261px;
    width: 344px;
    margin-top:43px;

}
.featuredTextblock{
    width: 333px;

}
.header{
    font-family: "Roboto Medium";
    text-decoration: underline;
    color: #0074FF;
    /*font-size: 21pt;*/


}
.header:hover {
    color: #02066B !important;
}
.address{
    font-family: "Roboto Light";
    color: black;
    /*font-size: 15pt;*/
}
.postInfo{
    font-family: "Roboto Light";
    color: #A5A5A5;
    /*font-size: 15pt;*/
}
.priceInfo{
    font-family: "Roboto Medium";
    color: black;
    /*font-size: 21pt;*/
}
.facilities{
    font-family: "Roboto Light";
    color: black;
    /*font-size: 15pt;*/
}
.mobilePhone{
    color: #0074FF;
    font-family: "Roboto Regular";
    /*font-size: 18pt;*/
}
.phoneIcon{
    color: #0074FF;
}
.featuredTextblock{
    margin: 11px 0;
}
.nonmobile { display: inline; }
.mobile { display: none; }
/*regular ad part*/
.regularWrapper{
    width: 721px;
    height: 347px;
     display: flex;
    flex-direction: row;
}
.textContainer{
    height: 208px;
    width: 333px;
    margin-top:68px;
    margin-bottom:68px;
}
